<ul class="add-menu-cont">
    <li class="add-menu-item" routerLinkActive="active-menu">
        <a routerLink="/">HOME</a>
    </li>
    <li class="add-menu-item">
        <button (click)="enablePopup()" class="btn bg-blue-500 hover:bg-blue-700 text-white hidden  py-1 rounded-full px-3 text-xs font-medium text-primary hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:text-accent-light dark:hover:bg-accent-light/20 dark:focus:bg-accent-light/20 dark:active:bg-accent-light/25 lg:inline-flex">
        POPUP</button>
    </li>
    
  </ul>