::ng-deep {
    #gjs {
        border: none;
    }

    .gjs-one-bg {
        background-color: #78366a;
    }

    .gjs-two-color {
        color: rgba(255, 255, 255, 0.7);
    }

    .gjs-three-bg {
        background-color: #ec5896;
        color: white;
    }

    .gjs-four-color,
    .gjs-four-color-h:hover {
        color: #ec5896;
    }

    .gjs-cv-canvas {
        top: 0;
        width: 100%;
        height: 100%;
    }

    .gjs-block {
        width: auto;
        height: auto;
        min-height: auto;
    }
}