<form class="bg-white p-4 rounded-lg grid grid-cols-2 gap-4" [formGroup]="projectForm" novalidate autocomplete="off">
    <div class="col-span-1">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Planned Start and End Date</mat-label>
            <mat-date-range-input [rangePicker]="campaignTwoPicker" [min]="minDate">
                <input matStartDate placeholder="Planned start date" formControlName="startDate">
                <input matEndDate placeholder="Planned end date" formControlName="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="campaignTwoPicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignTwoPicker></mat-date-range-picker>

        </mat-form-field>
    </div>
    <div class="col-span-1">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Planned Start and End Date</mat-label>
            <mat-date-range-input [rangePicker]="campaignavailablePicker" [min]="minAvailableDate" [max]="maxAvailableDate">
                <input matStartDate placeholder="Planned start date" formControlName="availableStartDate" >
                <input matEndDate placeholder="Planned end date" formControlName="availableEndDate" >
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="campaignavailablePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignavailablePicker></mat-date-range-picker>
            
        </mat-form-field>
    </div>
    <button mat-button mat-primary (click)="submitForm(projectForm.value)">Submit</button>
</form>